body {
	width: 100%;
	height: 100%;
}

main {
	padding: calc(150px + 2em) 2em;
	margin: 0 auto;
	max-width: 800px;
}

#mangho-tabelo tr>* {
	text-align: center;
}

.label-required:before {
	color: red;
	content: '* ';
}

#kotizo {
	height: 150px;
	width: 100vw;
	position: fixed;
	background: #ccc;
	border-bottom: 2px #ddd;
	padding: 1em;
	z-index: 100;
}
